.navbar {
    background-color: #0C3B5D;
    height: 70px;
    margin-bottom: 15px;
    padding-right: 10px;
    min-height: 80px;
    align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.navbar-item {
    color: white;
    font-size: 18px;
}

.navbar-item.logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.navbar-item.logo img {
  max-height: none;
  height: 80px;
  width: auto;
  display: block;
}
