/* Navbar */

.navbar {
    background-color: #3D5A73;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 80px;
    margin-bottom: 15px;
    padding-right: 10px;
    align-items: center;
}

.navbar-item {
    color: none;
    font-size: 18px;
    color: #CECECE;
    transition: all 0.4s;
    padding: 0.5rem 1.5rem !important;
}

.navbar-item.logo img {
  max-height: none;
  height: 80px;
  display: block;
}

.navbar-item:hover {
  color: #ffffff;
  background-color: rgba(168, 218, 220, 0.2);
  border-radius: 8px;
}

.navbar-item.logo:hover {
  background-color: transparent !important;
  transform: none !important;
}