.cuadricula-objetivos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
}

.tarjeta-objetivo {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tarjeta-objetivo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.etiqueta-categoria {
    color: #6B7280;
    font-size: 0.75rem;
    font-weight: 600;
}

.titulo-objetivo {
    font-size: 1.15rem;
    font-weight: 700;
    color: #1F2937;
}

.descripcion-objetivo {
    font-size: 0.9rem;
    color: #6B7280;
    line-height: 1.4;
}

/* MONTOS */
.etiqueta-monto {
    font-size: 0.85rem;
    color: #6B7280;
}

.valor-monto {
    font-size: 0.95rem;
    font-weight: 600;
    color: #1F2937;
}

/* BOTONES DE TARJETA */

.boton-editar {
    color: black;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
}

.boton-eliminar {
    color: red;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
}

.boton-comprar {
    width: 100%;
    background-color: #10B981;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.75rem;
}

.boton-detalles {
    width: 100%;
    background-color: #3D5A73;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.75rem;
}