@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&display=swap');

.container{
    display: flex;
    flex-direction: row;
}
#container-imagen{
    width: 60%;
    padding: 2%;
}
img{
    width: 90%;
}
#container-texto{
    width: 40%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 5vh;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 3vh;
    padding: 0.5%;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
}
