body {
    background-color: #0c3b5d;
    color: black;
}
.container{
    display: flex;
    flex-direction: row;
}
#container-imagen{
    width: 55%;
    padding: 2%;
}
img{
    width: 90%;
}
#container-texto{
    width: 45%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 6vh;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    padding: 2%;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    padding: 2%;
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
}
