body {
    background-color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: row;
}
#container-imagen{
    width: 60%;
    padding: 2%;
}
img{
    width: 90%;
}
#container-texto{
    width: 40%;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.texto{
    padding: 5%;
    color: black;
}
h1{
    font-size: 10vh;
}
h2{
    font-size: 5vh;
}
h3 {
    font-size: 2vh;
}
