@import url("../components/navbar.css");

@import url("../components/cards.css");

.hero-body {
    padding-top: 25px;
    height: 130px;
}

.message-resumen {
    width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

.gastos-categoria {
    margin: 0px 0px 50px 0px;
}