body {
    background-image: url(../../assets/imagen-fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: #0c3b5d;
    height: 100vh;
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    
}
#container-imagen{
    width: 55%;
}
img{
    width: 90%;
}
#container-texto{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 6vh;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    padding: 2%;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    padding: 2%;
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
}
#botones {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}