body {
    background-image: url(../../assets/imagen-fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: #0c3b5d;
    height: 100vh;
}
#contenedor-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding-top: 5%;
}
.box {
    background-color: white;
}
.input {
    background-color: white;
    color: black;
}
#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.button {
    background-color: white;
    color: black;
}
.label {
    font-family: 'Inter', sans-serif;
    color: black;
}
p {
    font-family: 'Inter', sans-serif;
}