#contenedor-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding-top: 5%;
}

#formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}