.contenedor-principal {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 3rem;
}

.titulo-objetivo {
    font-size: 2rem;
    color: #1f2937;
}

.encabezado-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
}

.boton-primario {
    background-color: #E3AC00;
    color: #1f2937;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
}

#modal-editar { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}