#contenedor-registro {
    display: flex;
    justify-content: center;
    width: 50%;
    
}
#formulario {
  width: 100%; 
  display: flex;
  flex-direction: column;  
}
#titulo{
    font-size: 30px;
    margin: 5%;
}
