#contenedor-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.box {
    width: 100%; 
    display: flex;
    flex-direction: column;
}
form {
    padding-bottom: 2%;
}
.field{
    padding-bottom: 1%;
}
#titulo{
    font-size: 30px;
    padding-bottom: 3%;
}
