#contenedor-registro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
}
form {
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.field{
    padding-bottom: 1%;
}
#titulo{
    font-size: 30px;
    margin: 5%;
}
