@import url("../components/navbar.css");

@import url("../components/cards.css");

.modal-card-head {
    background-color: #0C3B5D;
}

.modal-card-title {
    color: white;
}

.button.is-success{
    background-color: #0C3B5D;
    color: white;
}