.modal-card-head {
    background-color: #0C3B5D;
}

.modal-card-title {
    color: white;
}

.button.is-success{
    background-color: #0C3B5D;
    color: white;
}

.button.is-warning {
    background-color: #E3AC00;
    color: #1f2937 !important;
}
.button.is-small{
    width: 100%;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
    
}