@import url("../components/navbar.css");

.card {
    margin: auto;
    width: 900px;
}

.card-header {
    background-color: #0C3B5D;
}

.card-header-title {
    color:white;
}

.modal-card-head {
    background-color: #0C3B5D;
}

.modal-card-title {
    color: white;
}

.button.is-success{
    background-color: #0C3B5D;
    color: white;
}